.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.55) !important;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #656464;
    color: white;
    text-align: center;
    padding: 1rem 1rem 1.25rem 4rem;;
    text-align: left;
  }

  .footer a{
    font-size: 14px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    font-weight: 500;
  }

  .footer a:hover{
    opacity: 0.7;
    transition: 0.3s;

  }

  .info .admin-name{
    color:white;
    font-weight: 500;
    cursor: pointer;
  }


  .info .admin-online{
    width: 8px;
    height: 8px;
    background: #3fff00;
    border-radius: 100%;
    float: left;
    margin: 8px;
  }

  #editBtn, #removeBtn{
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
  }

  #editBtn:hover, #removeBtn:hover{
    opacity: 1;
    transition: 0.3s;
  }
  
  .filepond--hopper{
    overflow: hidden;
  }

  .publish-link{
    transition: 0.3s;
    cursor: pointer;
  }
  .publish-link{
    opacity: 0.8;
    transition: 0.3s;
   
  }
  .carousel-control-next, .carousel-control-prev {
  width: 5% !important;
  }

  .carousel-indicators [data-bs-target]{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
  }
  .blog-title2, .blog-title, .tblog-title{
  font-family: 'Inria Sans', sans-serif;
}

.blog-outer a{
  text-decoration: unset;
}

.blog-title2,
.blog-title{
  font-size: 24px;
  font-weight: 600;
  color: black;
  transition: 0.3s;
}

.blog-title:hover{
  transition: 0.3s;
  color: #712cf9;
}


@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 auto;
    width: 31.5%;
}}

.blog-outer, .blog-image-div{
  overflow: hidden;
}

.blog-outer .blog-image{
  transition: 0.3s;

}
.blog-outer:hover .blog-image{
  transform: scale(1.1);
  transition: 0.3s;
}
.text-right{
  text-align: right;
}

.blog-date{
  color: #656464;
}

.bg-light2{
  background-color: #e6e6e6 !important
}

.dt-title{
  transition: 0.3s;
  text-decoration: none;
  color: black;
}
.dt-title:hover{
  transition: 0.3s;
  color: #712cf9;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@font-face {
  font-family: "Malithi";
  src: url(../fonts/Malithi.ttf) format("truetype");
}

.blog-title2, .blog-title, .blog-desc{
  font-family: "Inria Sans", "Malithi", sans-serif;
}
.dropdownItem{
  cursor: pointer;
}